:root {
  --primary-color: #6667ab;
  --primary-color-dark: #4d4e92;
  --white: #fff;
  --black: #000;
}

.primary-navbar {
  background-color: var(--primary-color);
}

.primary-navbar .navbar-brand {
  font-size: 1.75rem;
}

.primary-navbar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.profile-section {
  scroll-margin-top: 120px;
}

.top-section {
  margin-top: 120px;
}

.profile-image {
  border-radius: 200px;
}

.skills-card {
  background-color: var(--primary-color);
}

.experience-item-button:not(.collapsed) {
  color: var(--black);
  background-color: var(--white);
}

.experience-item-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.experience-item-button:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0 var(--white);
}

.experience-item:last-of-type .experience-item-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.submit-contact-button {
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.submit-contact-button:hover {
  color: var(--white);
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}

.reset-contact-button {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.reset-contact-button:hover {
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
