.primary-navbar {
  background-color: #6667ab;
}

.primary-navbar .navbar-brand {
  font-size: 1.75rem;
}

.primary-navbar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

section {
  scroll-margin-top: 120px;
}

.top-section {
  margin-top: 120px;
}

.profile-image {
  border-radius: 200px;
}
